<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovely Place | Edit Post</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <style>
        *{
            font-family: 'Kanit', sans-serif;
        }
    </style>
</head>
<body class="bg-secondary">

    <%- include ('navbar.ejs') %>
    
    <div class="container">

        <div class="row justify-content-center mt-5">
            <div class="col-lg-6 col-sm-10 col-11 bg-light py-4 px-4 border rounded-4">
                <form method="post" action="/manage_post/edit/update">
                    <input type="hidden" value="<%= postData.post_id %>" name="id">
                    <div class="text-center h2 fw-bolder mb-4 mt-2">Edit Post</div>
                    <div class="form-group mb-4">
                        <label class="form-label">ชื่อโพสต์ :</label>
                        <input class="form-control" type="text" name="title" value="<%= postData.post_title %>">
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label">คำอธิบายย่อ (แสดงที่หน้าแรก) :</label>
                        <textarea class="form-control" name="preDes"><%= postData.post_preDes %></textarea>
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label">คำอธิบาย :</label>
                        <textarea class="form-control" name="descript"><%= postData.post_descript %></textarea>
                    </div>
                    <button class="btn btn-success mt-4">Edit</button>
                </form>
            </div>
        </div>
        
    </div>
    
</body>
</html>